@page

    <div style="margin-top:20px; font-weight: bold;">
        Data visualization through Azure Digital Twins updates
    </div>
    <div class ="row">
        <div id="modelId" class="twins">
            <div id="floorIdId"></div>
            <div id="floorNameId"></div>
            <div id="labelId" style="margin-top:200px; margin-left: 120px; margin-bottom: 200px; width: 100px;"></div>
            <div id="confidenceId"></div>                
        </div>
    <div style="display: none; height: 500px; width: 600px;background-image: url(/images/dataflow.png); background-repeat: no-repeat;">
        
    </div>

    </div>
    <div style="margin-top:20px; font-weight: bold;">
        Raw Azure Digital Twins Updates
    </div>
    <div>
        <textarea id="messageArea" cols="200" style="height: 200px; width: 1000px;"></textarea>
    </div>
    


<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/dashboard.js"></script>