@page
    <div class="row">
        <div class="col-12">
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <ul id="messagesList"></ul>
        </div>
    </div>
    <div class ="row">
        <div class="col-6" id="modelId" style="border: 5px solid gray; background-repeat: no-repeat; background-size: 400px 485px; background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/c/c4/Intelligent_building_system-diagram.png/640px-Intelligent_building_system-diagram.png);">
            <div id="floorIdId"style="border: 5px solid yellow; margin:1px; background-color:gray;"></div>
            <div id="floorNameId" style="margin:10px;">
                
            </div>
            <div id="labelId" style="margin:200px;">
                
            </div>
            <div id="confidenceId" style="margin:1px; background-color:gray;">
                
            </div>                
        </div>
    </div> 
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/dashboard.js"></script>